@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
p {
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    overflow-x: hidden;
    margin: 0;
    font-family: "Poppins", sans-serif;
}

.container {
    max-width: 1336px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}


.header_ul_block {
    display: flex;
    gap: 40px;
    align-items: center;

}

.header_top_list {
    display: flex;
    gap: 63px;
}

.header_top_block {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_top {
    box-shadow: 0 0 8px 0 rgba(51, 51, 51, 0.2);
    background-color: #fff;
}

.list {
    width: 50px;
    background-color: #fff;
    text-align: center;
    opacity: 0;
    z-index: -1;
    position: absolute;
    left: 10px;
    top: 58px;
    transition: all 0.4s ease;
}

.links {
    margin-bottom: 10px;
}

.header_top_item:hover .list {
    display: block;
    opacity: 1;
    z-index: 1;
}


.header_top_item {
    padding: 20px;
    position: relative;
}

.header_select {
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.03em;
    color: #000;
}

.links {
    color: #000;
}

.header_number {
    font-weight: 400;
    font-size: 15px;
    line-height: 150%;
    letter-spacing: 0.03em;
    color: #000;
    position: relative;
}

.header_top_item::after {
    content: "";
    width: 8px;
    height: 5px;
    display: inline-block;
    background-image: url(../img/header_icon.svg);
    position: absolute;
    top: 32px;
    right: 0px;
}

.header_number::before {
    content: "";
    width: 21px;
    height: 20px;
    display: inline-block;
    background-repeat: no-repeat;
    background-image: url(../img/header_phone.svg);
    position: absolute;
    left: -20px;
}

.header_bottom_block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form_block {
    display: flex;
    align-items: center;
    width: 600px;
    position: relative;
}

.input {
    width: 100%;
    padding: 12px 176px 13px 16px;
    border: 1px solid #64b496;
    border-radius: 5px;
    position: relative;
}

.form_text {
    border: 1px solid #64b496;
    padding: 15px 23px 7px 13px;
    font-weight: 400;
    font-size: 13px;
    line-height: 150%;
    color: #212529;
    position: absolute;
    right: 45px;
}

.form_search {
    border-radius: 0 5px 5px 0;
    padding: 24px 31px 19px 15px;
    background-color: #f53e32;
    position: absolute;
    right: 0px;
}

.form_search::after {
    content: "";
    width: 15px;
    height: 14px;
    display: inline-block;
    background-repeat: no-repeat;
    background-image: url(../img/search.svg);
    position: absolute;
    top: 15px;
}

.header_list {
    display: flex;
    align-items: center;
    gap: 50px;
}

.header_link {
    font-weight: 500;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: 0.03em;
    color: #000;
    position: relative;
}

.header_link::before {
    content: "";
    width: 21px;
    height: 21px;
    display: inline-block;
    background-repeat: no-repeat;
    background-image: url(../img/acc.svg);
    position: absolute;
    left: -20px;
    top: -5px;
}

/* hero */

.hero {
    padding-top: 260px;
    padding-bottom: 260px;
    background-repeat: no-repeat;
    background-image: url(../img/hero_bg_img.png);
    background-size: cover;
}

.hero_text {
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #212529;
    margin-bottom: 20px;
}

.hero_span {
    color: #f53e32;
    border-bottom: 2px solid #f53e32;
}

.hero_title {
    width: 523px;
    font-weight: 900;
    font-size: 55px;
    line-height: 124%;
    letter-spacing: 0.01em;
    color: #000;
    margin-bottom: 25px;
}

.hero_des {
    width: 488px;
    font-weight: 400;
    font-size: 15px;
    line-height: 175%;
    letter-spacing: 0.03em;
    color: #7a7a7a;
    margin-bottom: 30px;
}

.hero_btn {
    border: 1px solid #f53e32;
    border-radius: 5px;
    background-color: #f53e32;
    padding: 12px 23px;
    font-weight: 700;
    font-size: 14px;
    line-height: 120%;
    letter-spacing: 0.03em;
    text-transform: capitalize;
    color: #fff;
}

/* things */

.things {
    padding-top: 103px;
    padding-bottom: 100px;
}

.things_list {
    display: grid;
    grid-template-columns: repeat(3, 416px);
    grid-column-gap: 24px;
}

.things_item {
    width: 416px;
}

.shop_list {
    display: grid;
    grid-template-rows: repeat(6, 84px);
    row-gap: 5px;
}

.shop_item {
    border: 1px solid #e9e9e9;
    border-radius: 5px;
    background-color: #f7f7f8;
    text-align: center;
}

.things_item:nth-child(2) {
    background-repeat: no-repeat;
    background-image: url(../img/things_img1.png);
}

.things_item:nth-child(3) {
    background-repeat: no-repeat;
    background-image: url(../img/things_img2.png);
}

.shop_title {
    font-weight: 500;
    font-size: 16px;
    line-height: 143%;
    margin-top: 19px;
    color: #2b2b2d;
}

.shop_text {
    font-weight: 400;
    font-size: 12px;
    line-height: 143%;
    color: #7a7a7a;
}

.shop_item:nth-child(1) .shop_title {
    color: #f53e32;
}

.shop_item:hover {
    border: 1px solid #f53e32;
}

.shop_btn {
    font-weight: 700;
    font-size: 16px;
    line-height: 143%;
    letter-spacing: 0.03em;
    margin-top: 28px;
    color: #f53e32;
}

.things_discount {
    font-weight: 700;
    font-size: 54px;
    line-height: 120%;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #fff;
}

.things_foiz {
    font-weight: 400;
    font-size: 19px;
    line-height: 120%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #fff;
}

.things_dis {
    font-weight: 400;
    font-size: 19px;
    line-height: 120%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #fff;
}

.things_price {
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: left;
    padding-left: 20px;
    padding-top: 22px;
}

.things_text {
    font-weight: 700;
    font-size: 22px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 13px;
}

.things_btn {
    border-radius: 5px;
    background-color: #f53e32;
    padding: 12px 22px;
    font-weight: 700;
    font-size: 14px;
    line-height: 120%;
    letter-spacing: 0.03em;
    text-transform: capitalize;
    color: #fff;
}

.things_btn_block {
    text-align: center;
    padding: 329px 148px 30px 148px;
}

.content_block {
    position: relative;
    height: 520px;
    width: 100%;
    overflow: hidden;
}

.hover_block {
    position: absolute;
    inset: 0;
    transform: translateX(-100%);
    transition: all .5s linear;
}

.content_block:hover .hover_block {
    transform: translateX(0);
}

/* products */

.products {
    padding-bottom: 100px;
}

.products_title {
    font-weight: 700;
    font-size: 32px;
    line-height: 120%;
    letter-spacing: 0.01em;
    text-align: center;
    color: #2b2b2d;
    margin-bottom: 17px;
}

.products_text {
    width: 596px;
    font-weight: 400;
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
    line-height: 157%;
    letter-spacing: 0.03em;
    text-align: center;
    color: #7a7a7a;
    margin-bottom: 30px;
}

.products_item {
    border: 1px solid #e9e9e9;
    border-radius: 5px;
    width: 306px;
    padding-top: 11px;
    padding-left: 16px;
    position: relative;
}

.products_list {
    display: grid;
    grid-template-rows: repeat(5, 50px);
    row-gap: 5px;
}

.products_link {
    font-weight: 700;
    font-size: 14px;
    line-height: 167%;
    letter-spacing: 0.03em;
    color: #2b2b2d;
}

.products_item::after {
    content: "";
    width: 17px;
    height: 20px;
    display: inline-block;
    background-repeat: no-repeat;
    background-image: url(../img/btn_img.svg);
    position: absolute;
    right: 13px;
    top: 10px;
}

.products_item:nth-child(1)::after {
    content: "";
    width: 17px;
    height: 20px;
    display: inline-block;
    background-repeat: no-repeat;
    background-image: url(../img/btn_img_red.svg);
    position: absolute;
    right: 13px;
    top: 10px;
}


.products_item:nth-child(1) .products_link {
    color: #f53e32;
}

.products_item:hover {
    border: 1px solid #f53e32;
}

.fruits_block {
    background-repeat: no-repeat;
    background-image: url(../img/fr_bg_img.png);
    padding: 94px 143px 415px 4px;
}

.fruits_name {
    font-weight: 400;
    font-size: 40px;
    line-height: 120%;
    letter-spacing: 0.01em;
    color: #fff;
}

.fruits_title {
    font-weight: 900;
    font-size: 38px;
    line-height: 120%;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #f7e8aa;
}

.fruits_des {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.03em;
    color: #fff;
    margin-bottom: 15px;
}

.fruits_btn {
    border: 1px solid #f53e32;
    border-radius: 5px;
    background-color: #f53e32;
    padding: 12px 16px;
    font-weight: 700;
    font-size: 14px;
    line-height: 120%;
    letter-spacing: 0.03em;
    text-transform: capitalize;
    color: #fff;
}

.products_left_block {
    display: grid;
    row-gap: 24px;
}

.products_block {
    display: flex;
    gap: 24px;
}

.fruits_item {
    border: 1px solid #e9e9e9;
    border-radius: 5px;
    background-color: #fff;
    padding: 13px 13px;
}

.fruits_item:hover {
    border: 1px solid #f53e32;
}

.products_name {
    font-weight: 400;
    font-size: 13px;
    line-height: 150%;
    letter-spacing: 0.04em;
    text-align: center;
    color: #777;
    margin-top: 24px;
    margin-bottom: 40px;
    position: relative;
}

.products_des {
    font-weight: 500;
    font-size: 15px;
    line-height: 160%;
    letter-spacing: 0.03em;
    text-align: center;
    color: #2b2b2d;
    margin-bottom: 19px;
}

.price_block {
    display: flex;
    gap: 9px;
    align-items: center;
    justify-content: center;
}

.products_price {
    font-weight: 700;
    font-size: 16px;
    line-height: 175%;
    letter-spacing: 0.03em;
    text-align: center;
    color: #f53e32;
}

.products_old_price {
    font-weight: 400;
    font-size: 13px;
    line-height: 175%;
    letter-spacing: 0.04em;
    text-decoration: line-through;
    text-align: center;
    color: #7a7a7a;
}

.fruits_list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

.products_name::before {
    content: "";
    width: 35px;
    height: 35px;
    display: inline-block;
    background-image: url(../img/products_img1.svg);
    position: absolute;
    position: absolute;
    top: -50px;
    left: 50%;
    margin-left: -17px;
}

.products_name::after {
    content: "";
    width: 123px;
    height: 15px;
    display: inline-block;
    background-image: url(../img/four_start.svg);
    position: absolute;
    bottom: -21px;
    left: 84px;
}

/* food */

.food {
    padding-bottom: 100px;
}

.food_item {
    padding: 45px 236px 40px 14px;
    background-repeat: no-repeat;
    background-image: url(../img/food_bg_img1.png);
}

.food_title {
    width: 166px;
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2b2b2d;
    margin-bottom: 14px;
}

.food_text {
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    letter-spacing: 0.03em;
    color: #777;
    margin-bottom: 15px;
}

.food_span {
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #f53e32;
}

.food_btn {
    border-radius: 5px;
    background-color: #f53e32;
    padding: 12px 23px;
    font-weight: 700;
    font-size: 14px;
    line-height: 120%;
    letter-spacing: 0.03em;
    text-transform: capitalize;
    color: #fff;
}

.food_list {
    display: grid;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 14px;
}

/* service */

.service {
    padding-bottom: 100px;
}

.service_item {
    border: 1px solid #e9e9e9;
    border-radius: 5px;
    background-color: #f7f7f8;
    text-align: center;
    padding: 78px 25px 25px 25px;
}

.service_title {
    font-weight: 600;
    font-size: 18px;
    line-height: 167%;
    letter-spacing: 0.03em;
    color: #2b2b2d;
}

.service_text {
    font-weight: 300;
    font-size: 14px;
    line-height: 157%;
    letter-spacing: 0.03em;
    width: 205px;
    color: #7a7a7a;
    margin-left: auto;
    margin-right: auto;
}

.service_list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 24px;
}

/* deal */

.deal {
    background-repeat: no-repeat;
    background-image: url(../img/deal_bg_img.png);
    background-size: cover;
    padding-top: 162px;
    padding-bottom: 162px;
}

.deal_item {
    border-radius: 5px;
    width: 500px;
    box-shadow: -3px 3px 8px 5px rgba(0, 0, 0, 0.05);
    background-color: rgba(255, 255, 255, 0.22);
    padding: 24px 24px;
}

.deal_span {
    font-weight: 700;
    font-size: 26px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #f53e32;
}

.deal_dis {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.03em;
    color: #212529;
    margin-bottom: 14px;
}

.deal_title {
    font-weight: 700;
    font-size: 28px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #2b2b2d;
    margin-bottom: 19px;
}

.deal_text {
    font-weight: 300;
    font-size: 14px;
    line-height: 175%;
    letter-spacing: 0.03em;
    color: #7a7a7a;
    margin-bottom: 22px;
}

.deal_time_block {
    display: flex;
    gap: 10px;
    align-items: center;
    border: 1px solid #e9cbbe;
    border-radius: 5px;
    padding: 13px 25px;
    width: 290px;
}


.deal_time {
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2b2b2d;
    width: 38px;
}

.time_span {
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    letter-spacing: 0.03em;
    text-align: center;
    color: #7a7a7a;
}

.two_point {
    font-weight: 400;
    font-size: 25px;
    line-height: 120%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #7a7a7a;
}


/* organic */

.organic {
    padding-top: 100px;
}

.organic_list {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-auto-rows: 477px;
}


.organic_item1 {
    background-image: url(../img/organic_bg_img.png);
    background-repeat: no-repeat;
    text-align: right;
    padding: 145px 24px 143px 363px;
}

.organic_title {
    font-weight: 900;
    font-size: 24px;
    line-height: 156%;
    width: 250px;
    text-align: right;
    letter-spacing: 0.02em;
    color: #2b2b2d;
    margin-bottom: 21px;
}

.organic_dis {
    font-weight: 900;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #2b2b2d;
    margin-bottom: 30px;
}

.organic_span {
    font-weight: 700;
    font-size: 14px;
    line-height: 120%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2b2b2d;
}

.organic_btn {
    border: 1px solid #64b496;
    border-radius: 5px;
    padding: 12px 23px;
    background-color: #f53e32;
    font-weight: 700;
    font-size: 14px;
    line-height: 120%;
    letter-spacing: 0.03em;
    text-transform: capitalize;
    color: #fff;
}

/* words */

.words {
    padding-top: 100px;
    padding-bottom: 100px;
}

.words_title {
    font-weight: 700;
    font-size: 32px;
    line-height: 120%;
    letter-spacing: 0.01em;
    text-align: center;
    color: #2b2b2d;
}

.words_text {
    font-weight: 400;
    font-size: 14px;
    width: 596px;
    line-height: 157%;
    letter-spacing: 0.03em;
    text-align: center;
    color: #7a7a7a;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 74px;
}

.words_item {
    border: 1px solid #e9e9e9;
    border-radius: 5px;
    background-color: #f7f7f8;
    padding: 82px 62px 57px 62px;
    position: relative;
}

.words_item::before {
    content: "";
    width: 120px;
    height: 120px;
    display: inline-block;
    background-repeat: no-repeat;
    background-image: url(../img/words_img1.svg);
    position: absolute;
    top: 0;
    transform: translate(72%, -50%);
}

.words_item::after {
    content: "";
    width: 108px;
    height: 20px;
    display: inline-block;
    background-repeat: no-repeat;
    background-image: url(../img/five_star.svg);
    position: absolute;
    bottom: 11px;
    transform: translate(85%, -50%);
}


.words_sub_text {
    font-weight: 400;
    font-size: 14px;
    line-height: 236%;
    letter-spacing: 0.03em;
    text-align: center;
    color: #7a7a7a;
}

.words_name {
    font-weight: 700;
    font-size: 18px;
    line-height: 183%;
    letter-spacing: 0.03em;
    text-align: center;
    color: #2b2b2d;
}

.words_des {
    font-weight: 400;
    font-size: 14px;
    line-height: 175%;
    letter-spacing: 0.03em;
    text-align: center;
    color: #7a7a7a;
    width: 292px;
}

.words_list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 279px;
    column-gap: 24px;
}

/* news */

.news {
    padding-bottom: 100px;
}

.news_title {
    font-weight: 700;
    font-size: 32px;
    line-height: 120%;
    letter-spacing: 0.01em;
    text-align: center;
    color: #2b2b2d;
    margin-bottom: 17px;
}

.news_text {
    font-weight: 400;
    font-size: 14px;
    width: 596px;
    margin-left: auto;
    margin-right: auto;
    line-height: 157%;
    letter-spacing: 0.03em;
    text-align: center;
    color: #7a7a7a;
    margin-bottom: 30px;
}

.news_item {
    border: 1px solid #e9e9e9;
    border-radius: 5px;
    background-color: #fff;

}

.news_content {
    padding: 30px 43px 30px 25px;
}

.news_list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 441px;
    column-gap: 24px;
}

.news_des {
    font-weight: 400;
    font-size: 14px;
    line-height: 200%;
    letter-spacing: 0.03em;
    color: #777;
    margin-bottom: 9px;
}

.news_sub_title {
    font-weight: 600;
    font-size: 17px;
    line-height: 141%;
    letter-spacing: 0.03em;
    color: #2b2b2d;
    margin-bottom: 13px;
}

.news_link {
    font-weight: 700;
    font-size: 14px;
    line-height: 187%;
    letter-spacing: 0.03em;
    color: #64b496;
}


/* -------------------------------------------------------HOME-PAGE---------------------------------------------------------------------------------- */

.home_container{
    max-width: 1650px;
}


.hero_home{
    padding-top: 264px;
    background-repeat: no-repeat;
    background-image: url(../img/home_hero_img.png);
    background-size: cover;
    padding-bottom: 225px;
}

.hero_home_dis{
    border-bottom: 2px solid #f53e32;
    width: 52px;
height: 30px;
font-weight: 700;
font-size: 20px;
line-height: 120%;
letter-spacing: 0.02em;
color: #f53e32;
}

.hero_home_text{
font-weight: 700;
font-size: 20px;
line-height: 120%;
letter-spacing: 0.02em;
color: #212529;
}

.hero_home_start{
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 20px;
}

.hero_home_title{
    width: 522px;
    font-weight: 900;
font-size: 55px;
line-height: 124%;
letter-spacing: 0.01em;
color: #000;
margin-bottom: 25px;
}

.hero_home_des{
    width: 488px;
font-weight: 400;
font-size: 15px;
line-height: 175%;
letter-spacing: 0.03em;
color: #7a7a7a;
margin-bottom: 45px;
}

.hero_home_form{
    max-width: 450px;
    display: flex;
    position: relative;
}

.home_input{
    width: 100%;
    padding: 24px 159px 26px 58px;
    border-radius: 50px;
    background-color: #fff;
    border: none;
    font-weight: 400;
font-size: 16px;
color: #838383;
}


.hero_home_btn{
    border-radius: 50px;
    background-color: #3bb77e;
    padding: 22px 40px;
font-weight: 500;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.03em;
text-align: center;
color: #fff;
border: none;
position: absolute;
right: 0;
}

.hero_home_link{
    border: 1px solid #ececec;
border-radius: 30px;
box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, 0.05);
padding: 12px 21px 12px 41px;
background-color: #fff;
font-weight: 700;
font-size: 17px;
line-height: 141%;
text-align: right;
color: #3bb77e;
position: relative;
}

.hero_home_link::before{
    content: "";
    width: 10px;
    height: 10px;
    display: inline-block;
    background-image: url(../img/hero_x.svg);
    position: absolute;
    left: 21px;
    top: 19px;
}

.hero_home_list{
    display: flex;
    gap: 18px;
}

.hero_home_block{
    display: flex;
    justify-content: space-between;
}

/* home_things */

.home_things{
    padding-top: 75px;
    padding-bottom: 50px;
}

.home_things_item{
    padding: 80px 195px 73px 50px;
    background-repeat: no-repeat;
    background-image: url(../img/home_things_bg.png);
}


.home_things_title{
    width: 256px;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    color: #253d4e;
    margin-bottom: 57px;
}

.home_things_btn{
    border-radius: 4px;
    background-color: #f53e32;
    padding: 8px 28px 8px 13px;
font-weight: 700;
font-size: 12px;
line-height: 130%;
letter-spacing: 0.04em;
text-align: center;
color: #fff;
position: relative;
}

.home_things_btn::after{
    content: "";
    width: 11px;
    height: 8px;
    display: inline-block;
    background-image: url(../img/home_things_img.svg);
    position: absolute;
    right: 12px;
    top: 12px;
}

.home_things_list{
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    grid-auto-rows: 300px;
    column-gap: 24px;
}

/* products */

.home_products{
    padding-bottom: 50px;
}

.products_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 45px;
}

.home_list{
    display: flex;
    gap: 20px;
}

.home_products_title{
font-weight: 700;
font-size: 32px;
line-height: 120%;
color: #253d4e;
}

.home_link{
font-weight: 600;
font-size: 16px;
line-height: 100%;
text-align: center;
color: #253d4e;
}

.home_products_list{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    column-gap: 24px;
    row-gap: 30px;
}

.home_products_item{
    border: 1px solid #ececec;
border-radius: 15px;
background-color: #fff;
position: relative;
}

.home_name{
font-weight: 400;
font-size: 12px;
line-height: 200%;
color: #adadad;
margin-bottom: 9px;
}

.home_title{
font-weight: 500;
font-size: 15px;
line-height: 160%;
letter-spacing: 0.03em;
color: #2b2b2d;
margin-bottom: 32px;
position: relative;
}

.home_title::after{
    content: "";
    width: 96px;
    height: 17px;
    display: inline-block;
    background-image: url(../img/home_star.svg);
    position: absolute;
    bottom: -25px;
    left: 0;
}

.home_des{
font-weight: 400;
font-size: 14px;
line-height: 171%;
color: #b6b6b6;
margin-bottom: 19px;
}

.home_span{
    color: #f53e32;
}

.home_price{
font-weight: 700;
font-size: 18px;
line-height: 133%;
color: #3bb77e;
}

.home_price_old{
font-weight: 700;
font-size: 14px;
line-height: 171%;
text-decoration: line-through;
color: #adadad;
}

.home_btn{
    border-radius: 4px;
    background-color: #f53e32;
    padding: 9px 20px 10px 39px;
    border: none;
font-weight: 700;
font-size: 14px;
line-height: 171%;
color: #fff;
cursor: pointer;
position: relative;
}

.home_products_content{
    padding: 5px 21px 21px;
}

.home_price_block{
    display: flex;
    justify-content: space-between;
}

.home_btn::before{
    content: "";
    width: 14px;
    height: 14px;
    display: inline-block;
    background-image: url(../img/korzinka_icon.svg);
    position: absolute;
    left: 20px;
    top: 12px;
}

/* best */

.best{
    padding-bottom: 30px;
}

.best_item{
    border: 1px solid #ececec;
border-radius: 15px;
width: 278px;
background-color: #fff;
position: relative;
}

.best_title{
    font-weight: 700;
    font-size: 32px;
    line-height: 120%;
    color: #253d4e;
}

.best_home_link{
font-weight: 600;
font-size: 16px;
line-height: 100%;
text-align: center;
color: #253d4e;
}

.best_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 43px;
}

.best_home_list{
    display: flex;
    gap: 20px;
}

.best_name{
font-weight: 400;
font-size: 12px;
line-height: 200%;
color: #adadad;
margin-bottom: 9px;
}

.best_des{
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    color: #253d4e;
    margin-bottom:44px;
    position: relative;
}

.best_des::after{
    content: "";
    width: 123px;
    height: 16px;
    display: inline-block;
    background-image: url(../img/four_start.svg);
    position: absolute;
    left: 0;
    bottom: -27px;
}


.best_price_block{
    display: flex;
    gap: 6px;
    margin-bottom: 17px;
}

.best_price{
font-weight: 700;
font-size: 18px;
line-height: 133%;
color: #3bb77e;
}

.best_old_price{
font-weight: 700;
font-size: 14px;
line-height: 171%;
text-decoration: line-through;
color: #adadad;
}

.best_sold{
font-weight: 400;
font-size: 13px;
line-height: 185%;
color: #253d4e;
margin-bottom: 19px;
}

.best_btn{
    border-radius: 4px;
    background-color:#f53e32;
    padding: 14px 65px 15px 85px;
font-weight: 700;
font-size: 14px;
line-height: 150%;
letter-spacing: 0.04em;
text-align: center;
color: #fff;
white-space: nowrap;
}

.best_content{
    padding: 5px 21px 21px;
}

.best_line{
    border-radius: 4px;
width: 236px;
height: 5px;
background-color: #e9ecef;
margin-bottom: 9px;
}

.best_item1{
    background-repeat: no-repeat;
    background-image: url(../img/best_bg.png);
    padding: 50px 71px 194px 50px;
    width: 378px;
}

.best_sub_title{
font-weight: 700;
font-size: 40px;
line-height: 120%;
color: #fff;
margin-bottom: 99px;
}

.best_list{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 543px;
    column-gap: 24px;
}